.header {
  background-color: #ffffff;
  margin-bottom: 20px;
  font-family: verlag, helvetica, arial, sans-serif;
}

.header_tools_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding-top: 24px;
  padding-bottom: 6px;
  margin-right: auto;
  margin-left: auto;
}

.header_logo_container {
  display: block;
  width: 15%;
}

.header_shipping_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39%;
}

.header_shipping_link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.header_shipping_text_brown {
  color: #ae4343;
}

.header_shipping_text_underlined {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.header_contacts_container {
  display: flex;
  justify-content: center;
  width: 23%;
  height: 68px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.header_contacts_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.header_contacts_phone {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.header_contacts_work-time {
  font-weight: 400;
  font-size: 12px;
}

.header_tools_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 23%;
}

.header_tool_wrapper {
  margin-right: 7px;
  margin-left: 7px;
}

.header_tool_link {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url('../images/icons-sprite1x.png');
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: 16px;
}

.admin {
  background-position: -173px 0;
}

.favorite {
  background-position: -255px 0;
}

.cart {
  background-position: -201px 0;
}

.header_nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.header_nav_list_item_text {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: knockout, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.8px;
  color: #404040;
  text-transform: uppercase;
  cursor: pointer;
}

.header_nav_popup {
  position: absolute;
  top: 100%;
  right: -46%;
  z-index: 2;
  width: calc(100vw - 20px);
  padding: 32px 10px;
  border-top: 1px solid #ddd;
  margin-right: auto;
  margin-left: auto;
  background-color: #f1f1f1;
  box-shadow: 0 10px 20px -10px #b3b3b3;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  transition-delay: 0.2s;
}

.header_nav_list_item:hover > .header_nav_popup {
  visibility: visible;
  opacity: 1;
}

.header_nav_popup_ctegory_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.header_nav_popup_ctegory_item {
  padding-right: 16px;
}

.header_nav_popup_ctegory_name,
.header_nav_popup_ctegory_link {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #000000;
}

.header_nav_popup_ctegory_name {
  font-weight: 700;
}

.header_nav_popup_ctegory_link {
  font-weight: 300;
}

.header_nav_popup_ctegory_name:hover,
.header_nav_popup_ctegory_link:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.header_search_container {
  width: 100%;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  box-shadow: 0 10px 20px -10px #b3b3b3;
}

.header_search_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  max-width: 990px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

.header_search_input_wrapper {
  position: relative;
  width: 100%;
  max-width: 412px;
  padding-left: 8px;
  font-size: 24px;
}

.header_search_input,
.header_search_input::placeholder {
  font-family: verlag, helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}

.header_search_input {
  width: 100%;
  max-width: 357px;
  height: 36px;
  padding: 0 38px 0 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  margin-top: 9px;
  background-color: #ffffff;
  box-shadow: 0 -1px 1px 0 #c7c7c7ad;
}

.header_search_input:focus {
  outline: 2px dashed #ae4343;
  outline-offset: 1px;
}

.header_search_submit {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  outline: none;
  margin-top: 5px;
  background-image: url('../images/icons-sprite1x.png');
  background-repeat: no-repeat;
  background-position: -363px 0;
  background-color: transparent;
  cursor: pointer;
}

.header_search_sale_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  height: 56px;
  margin-left: 8px;
}

.header_search_sale_link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 56px;
  padding-left: 18px;
  border-left: 1px solid #ddd;
  color: #000000;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.header_search_sale_link_text {
  color: #ae4343;
}

.header_search_sale_link_text-underlined {
  padding-left: 8px;
  border-left: 1px solid #000000;
  margin-left: 8px;
  font-weight: 300;
  text-decoration: underline;
  text-transform: none;
}
